<%- include("partials/header.ejs") %>

<div class="container single-product">
    <div class="row">
        <div class="col-2">
            <img src="/images/<%= product.product_image %>" alt="<%= product.nama_produk %>" width="200px" id="ProductImg">
        </div>
        <div class="col-2">
            <h1><%= product.product_name %></h1>
            <div style="border-top: 1px solid #e84393; height: 30px;"></div>
            <h4>Rp. <%= product.product_price %></h4>
            <form action="/checkout" method="POST"> <!-- Replace with your checkout route -->
                <select name="size">
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                </select>
                <input type="number" name="quantity" value="1">
                <input type="hidden" name="productId" value="<%= product.id %>"> <!-- Include product ID -->
                <button type="submit" class="btn">Buy now</button>
            </form>
            <h3>Detail Produk<i class="fa fa-indent"></i></h3>
            <br>
            <p class="detail-desc">
                <%= product.product_desc %>
            </p>
        </div>
    </div>
</div>

</body>
</html>
